<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body class="pending">

    <%= t.include("partials/_nav.html") %>

    <div class="content">

      <header class="hed">
        <div class="ad">
          <%= t.include("partials/_ad.html", { type: "banner" }) %>
        </div>
        <h1>
          <img src="./assets/elex-logo.svg" alt="2018 election results for Washington state" class="head-logo">
          2018 Statewide and local results
        </h1>
        <p class="dateline">Last updated: <%= election.updated %> with
          <%= election.turnout.percentage %>% of expected ballots counted statewide
      </header>

      <main class="elections">
        <p class="cutline">
          View state and local election results by race and see county-by-county results for key statewide races. Uncontested races are not included. For complete Washington state results, visit the <a href="http://results.vote.wa.gov/results/current/">Washington Secretary of State</a>. More coverage is available in our <a href="https://www.seattletimes.com/tag/election-2018/">Election 2018</a> and <a href="https://seattletimes.com/politics">Local Politics</a> sections.

        <%= t.include("_tabs.html") %>
        <article>

          <% election.categories.forEach(function(cat, i) { var category = election.categorized[cat]; %>
          <section class="category show" id="<%= cat.replace(/\s/g, "") %>">

          <%
          var groups = Object.keys(category.grouped);
          if (groups.length) {

            if (cat == "Local") { %>
            <p class="subnav-controls">Select a county: <select class="subnav">
              <% groups.slice().sort().forEach(function(group) { %>
              <option value="<%= group %>"><%= group %></option>
              <% }); %>
            </select></p> <%
            } else if (cat == "Legislative") {
              groups.sort(function(a, b) {
                return a.replace(/district /i, "") * 1 - b.replace(/district /i, "") * 1;
              });
            }

            groups.forEach(function(group) { %>
            <div class="subcategory show" data-subcat="<%= group %>">
              <h2>
                <%= group %>
                <% if (cat == "Legislative") { %>
                <span class="map-icon">Map
                  <savage-image
                    class="state district" <%
                    var district = group.replace(/district /i, "") * 1;
                    if (election.zoomed.indexOf(district) > -1) { %>
                    data-src="assets/zoomed.svg"
                    <% } else { %>
                    data-src="assets/legislativedists.svg"
                    <% } %>
                    data-district="<%= district %>"
                    role="img"
                    aria-label="Locator map for this district"></savage-image>
                </span>
                <% } %>
              </h2><%
              category.grouped[group].forEach(function(race) {
                print(t.include("_resultEntry.html", { race: race, cat: cat }));
              });%>
            </div><%
            });
          }
          //present ungrouped races last
          category.races.forEach(function(race) {
            print(t.include("_resultEntry.html", { race: race, cat: cat }));
          });
          %>
          </section>
          <% }); %>

          <%= t.include("_tabs.html") %>

          <ul class="key">
            <li> * Incumbent
            <li> ** Measure must meet specific minimum turnout and 60% yes-vote requirements
            <li> Races that cross county borders include vote totals from all jurisdictions.
          </li>
        </article>
      </main>

      <aside class="rail">
        <%= t.include("partials/_ad.html", { type: "square" }) %>
      </aside>

    </div>

    <%= t.include("partials/_navBottom.html") %>

    <script>
<%
for (var raceID in election.mapped) {
  var race = election.mapped[raceID];
  for (var county in race) {
    var c = race[county];
    c.results.forEach(function(result) {
      var votes = result.votes + "";
      for (var i = votes.length - 3; i > 0; i -= 3) {
        votes = votes.substr(0, i) + "," + votes.substr(i);
      }
      result.votes = votes;
    })
  }
} %>
window.mapData = <%= JSON.stringify(election.mapped) %>;
    </script>
    <script src="app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>
